.nazwapng {
     width:500px;
     height:auto;
     display: block;
     margin-left:auto;
     margin-right:auto;
}


.przyciskstart{
    display: none;
    text-align: center;
    cursor: pointer;
    align-items: center;
    margin: 0 auto;
    width:200px;
    height:auto;
    font-size:50px;
    border: 10px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
}

.drugitrybprzyciski {
    display: flex;
    justify-content: center; 
    gap: 15px;   
        
}

.drugitryb {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    width: 100%;
}

.losowyobraz{
    width:500px;
    height:auto;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.dislike{
    display:none;
    cursor: pointer;
    width:100px;
    height:auto;
    text-align:center;
    cursor:pointer;
    font-size:20px;
    align-items:center;
    margin: 0 auto;
    border: 5px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
}

.like{
    display:none;
    cursor: pointer;
    width:100px;
    height:auto;
    text-align:center;
    cursor:pointer;
    font-size:20px;
    align-items:center;
    margin: 0 auto;
    border: 5px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
}

.dislikowaneobrazy{
    display:none;
}

.likowaneobrazy{
    display:none;
}

.Tryby{
    display:block;
}

.przyciskstart2{
    display: none;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    align-items: center;
    margin: 0 auto;
    width:200px;
    height:auto;
    font-size:50px;
    border: 10px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
}

.losowyobraz1{
    width:500px;
    height:auto;
    display: inline-block;

}

.losowyobraz2{
    width:500px;
    height:auto;
    display: inline-block;
    float: right;

}

.tekst2tryb{
    text-align:center;
    display:none;
}

.przycwybierz2{
    display: none;
    cursor: pointer;
    border: 5px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
    align-items: center;
    justify-content: center;
}

.przycwybierz1{
    display: none;
    cursor: pointer;
    border: 5px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
    align-items: center;
    justify-content: center;
}

.Ranking{
    display:none;
}

.Tryb1{
    cursor: pointer;
    border: 5px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
}

.Tryb2 {
    cursor: pointer;
    border: 5px solid #334902;
    border-radius: 50px;
    background-color: #cae0bc;
    color: #5e8049;
}